/* font-family: 'Bangers', cursive;
font-family: 'Bungee', cursive;
font-family: 'Luckiest Guy', cursive;
font-family: 'Modak', cursive;
font-family: 'Righteous', cursive;
font-family: 'Russo One', sans-serif; */

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
